<ion-view title="Settings">
  <ion-content class="has-header padding">
    <h1 class="title">Settings</h1>
    <ul class="list">

      <li class="item item-toggle">
      Phone Notifications
      <label class="toggle toggle-assertive">
        <input type="checkbox" checked>
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
      </li>

      <li class="item item-toggle">
      Turn off Car
      <label class="toggle toggle-assertive">
        <input type="checkbox" checked>
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
      </li>
    </ul>
  </ion-content>
</ion-view>
